<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.savelevgeo.ghandy" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>gHandy</name>
  <description>Mapping application for data collection and analysis</description>
  <author email="savelevgeo.post@gmail.com" href="https://githib.com/savelevgeo">
        Georgij Savelev
    </author>
  <content src="index.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
</widget>
